*{
    margin: 0;
    padding: 0;
}
.home{
    width: 900px;
    height: 300px;
}
.p{
    width: 350px;
    height: 300px;
    margin-left: 920px;
}
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap');
body{background-color: rgb(0, 204, 255);}
h1{
    color: #dddddd;
    text-align: center;
    cursor: default;
    margin-left: 20px;
    margin: 30px;
}
h2{
    color: #dddddd;
    cursor: default;
    margin-left: 20px;
}
p{
    color: #fff;
    cursor: default;
    margin-left: 20px;
    font-size: 50;
}
.p{
    font-size: 23px;
}
* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

nav {
    background: linear-gradient(rgba(1, 3, 56, .8), rgba(1, 3, 56, .4)), url(Bg7.jpg);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 0 100px;
}

nav .logo {
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: -1px;
}

nav .nav-items {
    display: flex;
    flex: 1;
    padding: 0 0 0 40px;
}

nav .nav-items li {
    list-style: none;
    padding: 0 15px;
}

nav .nav-items li a {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
}

nav .nav-items li a:hover {
    color: red;
}

nav form {
    display: flex;
    height: 40px;
    padding: 0px;
    background: #fff;
    min-width: 18%!important;
    border-radius: 2px;
    border: 4px solid rgba(155, 155, 155, 0.2);
}

nav form .search-data {
    width: 200px;
    height: 35px;
    padding: 0 10px;
    color: #000;
    font-size: 17px;
    border: none;
    font-weight: 500;
    background: none;
}

nav form button {
    padding: 0 9px;
    color: #f00;
    font-size: 13px;
    background: #00f;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    border: 1px solid #000;
}

nav form button:hover {
    background: #f00;
    color: #00f;
}

nav .menu-icon,
nav .cancel-icon,
nav .search-icon {
    width: 40px;
    text-align: center;
    margin: 0 50px;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    display: none;
}

nav .menu-icon span,
nav .cancel-icon,
nav .search-icon {
    display: none;
}

@media (max-width: 1245px) {
    nav {
        padding: 0 50px;
    }
}

@media (max-width: 1140px) {
    nav {
        padding: 0px;
    }
    nav .logo {
        flex: 2;
        text-align: center;
    }
    nav .nav-items {
        position: fixed;
        z-index: 99;
        top: 70px;
        width: 100%;
        left: -100%;
        height: 100%;
        padding: 10px 50px 0 50px;
        text-align: center;
        background: #14181f;
        display: inline-block;
        transition: left 0.3s ease;
    }
    nav .nav-items.active {
        left: 0px;
    }
    nav .nav-items li {
        line-height: 40px;
        margin: 30px 0;
    }
    nav .nav-items li a {
        font-size: 20px;
    }
    nav form {
        position: absolute;
        top: 80px;
        right: 50px;
        opacity: 0;
        pointer-events: none;
        transition: top 0.3s ease, opacity 0.1s ease;
    }
    nav form.active {
        top: 95px;
        opacity: 1;
        pointer-events: auto;
    }
    nav form:before {
        position: absolute;
        content: "";
        top: -13px;
        right: 0px;
        width: 0;
        height: 0;
        z-index: -1;
        border: 10px solid transparent;
        border-bottom-color: #1e232b;
        margin: -20px 0 0;
    }
    nav form:after {
        position: absolute;
        content: '';
        height: 60px;
        padding: 2px;
        background: #1e232b;
        border-radius: 2px;
        min-width: calc(100% + 20px);
        z-index: -2;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    nav .menu-icon {
        display: block;
    }
    nav .search-icon,
    nav .menu-icon span {
        display: block;
    }
    nav .menu-icon span.hide,
    nav .search-icon.hide {
        display: none;
    }
    nav .cancel-icon.show {
        display: block;
    }
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}

.content header {
    font-size: 30px;
    font-weight: 700;
}

.content .text {
    font-size: 30px;
    font-weight: 700;
}

.space {
    margin: 10px 0;
}

nav .logo.space {
    color: #fff;
    padding: 0 5px 0 0;
}

@media (max-width: 980px) {
    nav .menu-icon,
    nav .cancel-icon,
    nav .search-icon {
        margin: 0 20px;
    }
    nav form {
        right: 30px;
    }
}

@media (max-width: 350px) {
    nav .menu-icon,
    nav .cancel-icon,
    nav .search-icon {
        margin: 0 10px;
        font-size: 16px;
    }
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.content header {
    font-size: 30px;
    font-weight: 700;
}

.content .text {
    font-size: 30px;
    font-weight: 700;
}

.content .space {
    margin: 10px 0;
}
.EdisonPts{
    color: #fff;
    height: 200vh;
    width: 207.3vh;
    background-color: rgba(0, 0, 0, 0.6);
}
.Компот{
    color: #fff;
    height: 115vh;
    width: 207.3vh;
    background-color: rgba(0, 0, 0, 0.6);
}
.lololowka{
    color: #fff;
    height: 70vh;
    width: 207.3vh;
    background-color: rgba(0, 0, 0, 0.6);
}
.FixEye{
    color: #fff;
    height: 230vh;
    width: 207.3vh;
    background-color: rgba(0, 0, 0, 0.6);
}
.FixPlay{
    color: #fff;
    height: 35vh;
    width: 207.3vh;
    background-color: rgba(0, 0, 0, 0.6);
}
.Юни{
    color: #fff;
    height: 92vh;
    width: 207.3vh;
    background-color: rgba(0, 0, 0, 0.6);
}
.Иванчела{
    color: #fff;
    height: 140.5vh;
    width: 207.3vh;
    background-color: rgba(0, 0, 0, 0.6);
}